footer {
    background-color: var(--footer-background);
    color: var(--font-color);
}

.container-footer {
    width: 90vw;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.info-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem-footer {
    width: 20vw;
    height: 35vh;
    border-radius: 20px;
}

.title-footer {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info-nav a {
    color: var(--font-color02);
    text-decoration: none;
    padding: 5px 0px;
}

.info-nav a:hover {
    text-decoration: underline;
}

.info-nav p {
    padding: 5px 0px;
    color: var(--font-color02);
}

.autor-page {
    text-align: center;
}

#midias-sociais {
    display: flex;
    justify-content: space-around;
}

.itens-social-midia {
    width: 30px;
    margin: 5px 15px;
}

.mobile-footer {
    display: none;
}




/* LAPTOPS */
@media screen and (min-width: 769px) and (max-width: 1280px) {
    .imagem-footer {
        display: none;
        
    }

    .info-nav p {
        padding: 8px 0px;
        font-size: 1em; 
    }
}



/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px){
    .container-footer {
        display: none;
    }
    
    .mobile-footer {
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        
    }

    .imagem-footer {
        width: 100%;
        height: 40%;
        margin-bottom: 15px;
    }

    .title-footer {
        font-size: 2.5em;
    }

    .mobile-footer p {
        font-size: 1.8em;
    }

    .mobile-footer p {
        font-size: 1.1em;
        padding: 5px;
    }

    #midias-sociais {
        margin: 20px;
    }

    .itens-social-midia {
        width: 40px;
        margin: 0px 15px;
    }

}



/* MOBILE */
@media screen and (max-width: 480px){ 
    .container-footer {
        display: none;
    }

    .mobile-footer {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        
    }

    .imagem-footer {
        width: 100%;
        height: 40%;
        margin-bottom: 15px;
    }

    .title-footer {
        font-size: 2em;
    }

    .mobile-footer p {
        font-size: 1.5em;
    }

    .mobile-footer p {
        font-size: 1.1em;
        padding: 5px;
    }

    #midias-sociais {
        margin: 20px;
    }

    .itens-social-midia {
        width: 35px;
        margin: 0px 15px;
    }
    
}
