.bg-section {
    width: 80vw;
    height: 100vh;
    margin: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

#titulo {
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
    padding: 40px 20px;
    text-transform: uppercase;
}

.area-calcular {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 20px;

}

#image-form  {
    width: 100%;
    height: 95%;
    border-radius: 25px;
}

.formulario {
    width: 40vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;

}

.estilo-label {
    font-size: 2em;
    margin-bottom: 10px;
}

.input-estilo {
    width: 100%;
    height: 8vh;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.5em;
}

/* trocar cor do bottun e hover */
#calcular {
    background-color: var(--button-calcular);
    padding: 15px 40px;
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    border: 0.5px solid rgba(0, 0, 0, 0.19);
}

#calcular:hover {
    background-color: var(--button-calcular-hover);
}

.barra-imagem {
    background-image: url(../imagens/barra-section.svg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}




/* LAPTOPS */
@media screen and (min-width: 769px) and (max-width: 1280px){
    .bg-section {
        width: 85vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #titulo {
        font-size: 2em;
        font-weight: 400;
        padding: 40px 20px;
    }

    .area-calcular {
        width: 100%;
        height: 50vh;
        margin: 20px 0px;
    }

    #image-form  {
        width: 100%;
        height: 100%;
    }

    .formulario {
        width: 40vw; 
        height: 100%;   
    }
    
    .estilo-label {
        font-size: 1.5em;
        margin-bottom: 0px;
    }
    
    .input-estilo {
        width: 90%;
        height: 8vh;
        font-size: 1.2em;
        
    }

    #calcular {
        padding: 10px 40px;
        margin-top: 20px;
        font-size: 1.2em;
        font-weight: 600;

    }

    #calcular:hover {
        background-color: none;
    }
    

    .barra-imagem {
        width: 100%;
        height: 35vh;
        background-position: 30% 70%;

    }
    
}


/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px){
    .bg-section {
        width: 80vw;
        height: 100vh;
    } 

    #titulo {
        font-size: 2em;
        font-weight: 600;  
    }

    
    .area-calcular {
        width: 100%;
        height: 70vh;
        display: block;
        justify-content: none;
        align-content: none;
        gap: none;

    }

    #image-form  {
        display: none;
    }

    .formulario {
        width: 100%;
        height: none;
    }

    .estilo-label {
        font-size: 1.8em;
    }

    #calcular:hover {
        background-color: none;
    }

    .barra-imagem {
        height: 40vh;
    }   
}





/* Mobile */
@media screen and (max-width: 480px) {
    .bg-section {
        width: 100vw;
        height:85vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #titulo {
        font-size: 1.8em;
        padding: 10px;
    }

    .area-calcular {
        display: block;
        justify-content: none;
        gap: none;
        
    }

    #image-form {
        display: none;
    }

    .formulario {
        width: 95%;
        height: 100%;
        margin: auto;
    }

    .estilo-label {
        font-size: 1.2em;
    }
    
    .input-estilo {
        font-size: 1em;
        margin-bottom: 15px
    }

    #calcular {
        background-color: var(--button-title-tabela);
        font-size: 1.3em;
        padding: 5px 10px;
        margin: 10px auto;
    }

    #calcular:hover {
        background-color: none;
    }
    

    .barra-imagem {
        height: 25vh;
        margin: 10px 0px;
    }
}