header {
    display: block;
    background-image: url(../imagens/backGround.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
   
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--menu-bar);
}

.logo-menu {
    width: 5vw;
}

.navigation-bar {
    list-style: none;
    background-color: transparent;
}

.itens-navigation {
    padding: 0px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.2em;
    font-family: var(--font-Roboto);
}

.itens-navigation:hover {
    text-decoration: underline;
}


/* Laptops */

@media screen and (min-width: 769px) and (max-width: 1280px) {
    header {
        height: 60vh;
        background-position: 70% 20%;  
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--menu-bar);
    }

    .itens-navigation:hover {
        text-decoration: none;
    }
    
    .logo-menu {
        width: 10vw;
    }

    .itens-navigation {
        font-size: 1.1em;
    }

    .navigation-bar {
        background-color: transparent;
    }
}


/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px){
    header {
        height: 50vh;
        background-position: 75% 25%;
    }

    .itens-navigation:hover {
        text-decoration: none;
    }
    
    .logo-menu {
        width: 10vw;
    }

    .itens-navigation {
        font-size: 1em;
    }

    .navigation-bar {
        background-color: transparent;
    }
}



/* Mobile */
@media screen and (max-width: 480px){
    header {
        display: block;
        height: 50vh;
        background-position: 75% 25%;
    }

    .logo-menu {
        width: 16vw;
    }

    .navigation-bar {
        list-style: none;
    }

    .itens-navigation {
        padding: 0px 10px;
        font-size: 1em;
    }
}