@import url(table.css);
@import url(form.css);
@import url(menuBar.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background: #9b9898c1;
    --background-form: #ffffff86;
    --menu-bar:#00000051;
    --background-gradient-black: linear-gradient(to right, #030303, #191818, #1c1919 , #191818, #030303);
    --footer-background: #0F0F0F;

    --button-title-tabela: #b3b3b0;
    
    --button-calcular: #7D7E75;
    --button-calcular-hover: #6d6d6a;

    --background-color-mobile: white;

    --font-Roboto: 'Roboto', sans-serif;
    --font-color: white;
    --font-color02: #aeaeaea8;

}

body {
    background-color: var(--body-background);
    font-family: var(--font-Roboto);
}


@media screen and (max-width: 500px) {
    body {
        background-color: var(--background-color-mobile);
    }
}