.tabela-section {
    width: 100%;
    height: 60vh;
    margin: auto;
}

.painel {
    width: 35vw;
    height: 10vh;
    margin: auto;
    background-image: var(--background-gradient-black);
    display: flex;
    flex-direction: column;
    border-radius: 40px 5px 40px 5px;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

table {
    width: 80vw;
    height: 40vh;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
}

.titulo-tabela {
    font-size: 1.8em;
    font-weight: 600;
}

td {
    font-size: 1.2em;
}


/* Validação JS */
.status-paciente {
    background-color: rgba(0, 128, 0, 0.319);
    transition: 1.5s;
}

/* class de estilo JS */
.text-painel {
    font-size: 1.2em;
    border-radius: 5px 40px 5px 40px;
    transition: 1.5s;
    font-family: var(--font-Roboto);
    text-transform: uppercase;
}





/* LAPTOPS */

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .tabela-section {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .painel {
        width: 60vw;
        margin: 20px auto;
    }

    table {
        margin: 0px auto;
    }

}




/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .painel {
        width: 70vw;
        height: 10vh;
    }

    table {
        width: 90vw;
        height: 40vh;
    }
}




/* MOBILE */
@media screen and (max-width: 480px) {
    .tabela-section {
        width: 95vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .painel {
        width: 85vw;
        height: 12vh;
        font-size: 1em;
    }

    table {
        width: 95vw;
        padding: 0px;
    }

    .titulo-tabela {
        font-size: 1.4em;
        font-weight: 600;
        padding: 0px 5px;
    }

    td {
        font-size: 1em;
        padding: 10px 0px;

    }
}